@import url('https://fonts.googleapis.com/css2?family=WindSong:wght@500&display=swap');

body {
    margin: 0;
}

.app {
    height: fit-content;
    display: grid;
    place-content: center;
    background-color: #efefef;
}

.app>h1 {
    margin-bottom: 1em;
    text-align: center;
    color: hotpink;
    font-family: 'WindSong', serif;
    font-weight: bold;
    font-size: 2em;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.my_image {
    height: 250px;
    width: 250px;
    object-fit: cover;
    border-radius: 20px;
    margin: 0.5em;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}