body {
    margin: 0;
}

.app {
    text-align: center;
}

.app>h1 {
    margin-bottom: 2em;
}

.my_image {
    height: 250px;
    width: 250px;
    object-fit: cover;
    border-radius: 50%;
    margin: 1em;
}